<div class="communities-list">
    <div class="communities-list-header">
        Подписки
        {{#if count}}
            <div class="communities-list-count">{{count}}</div>
        {{/if}}
    </div>

    <div class="communities-list__items">
        {{#if communities.length}}
            {{#each communities}}
                <div class="communities-list__item" data-id="{{id}}">
                    <img class="communities-list__avatar" src="{{avatar}}" alt="{{name}}">
                    <div class="communities-list__name">{{name}}</div>
                </div>
            {{/each}}
        {{else}}
            <div class="communities-list__item">
                <div class="communities-list__name">Нет подписок</div>
            </div>
        {{/if}}
    </div>
</div>
