<div class="navbar">
    <div class="navbar-left">
        <img class="navbar-logo" src = "{{logo}}">
    </div>
    <div class="navbar-center">
        <div class="navbar-input-container">
            <img class="navbar-input-icon" src="{{serachIcon}}" alt="icon">
            <input class="navbar-input" placeholder="Поиск...">
        </div>
    </div>
    <div class="navbar-right">
        <img class="navbar-profile-photo" src="{{profilePhoto}}">
        <div class="navbar-dropdown">
            <div class="dropdown-button">
                <img class="dropdown-button-icon" src="{{dropdownIcon}}" alt="Menu">
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <img class="navbar-icon" src="{{profileIcon}}">
                    Профиль
                </div>
                <div class="dropdown-item">
                    <img class-"navbar-icon" src="{{logoutIcon}}">
                    Выйти
                </div>
            </div>
        </div>
    </div>
</div>