<div class="form-input">
  <div class="input-inner">
    <input
      type="{{type}}"
      name="{{name}}"
      placeholder="{{placeholder}}"
      maxlength="{{maxLength}}"
      autocomplete="{{autocomplete}}"
      class="input-field"
      value="{{value}}"
      {{#if required}}required{{/if}}
    />

    <div class="input-floating-label">{{label}}</div>
        {{#if isPassword}}
      <a class="pwd-control">
        <img class="icon-eye eye-open" src="/public/PasswordIcons/eye-closed.svg"/>
        <img class="icon-eye eye-closed" src="/public/PasswordIcons/eye-open.svg"/>
      </a>
    {{/if}}
  </div>

  {{#if description}}
    <div class="description-wrapper">
      <span class="input-description">{{description}}</span>
      {{#if maxLength}}
        <span class="input-counter">{{maxLength}}</span>
      {{/if}}
    </div>
  {{/if}}
</div>
